extends layout

block content
  .main(ng-app="pradeepApp")
    div(ui-view)   
block code 
    script(src="/bower_components/angular/angular.js")
    script(src="/bower_components/angular-ui-router/release/angular-ui-router.js")
    script(src="/js/vendor/angular-spectrum-colorpicker.min.js")
    script(src="/js/application.js")      
