<div>
	Go Back
	<a class="btn btn-xs btn-default" ui-sref="iot"> <i class="fa fa-arrow-left"> </i> Show IOT</a>
</div>
   <style>
      .form-control-static{
      	color:#fff;
      	font-weight:bold;
      	padding-left:10px; 
      	width:300px;
      }
      .bulb{
      	background-color: {{colorPicker.bg}};
      	color:white;
      }
   </style>
<div class="row">
   

   <div class="form-group">
   	  <div class='form-control-static' style="background-color:{{colorPicker.bg}}">
   	  	 <strong> RGB Value: {{colorPicker.rgb}}</strong>
   	  	 <div>Intensity: {{colorPicker.intensity}}</div>
   	  </div>
   </div>
   <div class="form-group">

   	  <button class="btn btn-default " ng-click="onAndOff(colorPicker)" ng-if="!colorPicker.isOn" >Switch On Bulb</button>
   	  <button class="btn btn-default btn-danger" ng-click="onAndOff(colorPicker)" ng-if="colorPicker.isOn" >Switch Off Bulb</button>
   </div>
   <div class="form-group">
   	  <spectrum-colorpicker ng-model="colorPicker.color"  on-move="changeColor(colorPicker.color)" options="{showInput: true, showAlpha: true,preferredFormat:'rgb',color:'rgb(61, 188, 172)'}"></spectrum-colorpicker>
   </div>

</div>